.added_to_cart.wc-forward::before {
	content: 'Item Added. ';
	display: block;
	margin-top: 0.5em;
	color: black;
}
.woocommerce-message .button {
	margin-left: 1em;
}
.woocommerce-result-count {
	display: none;
}
.store-headline {
	font-family: inherit;
	color: #aaa;
	font-size: 0.7em;
	line-height: 1.2;
}
