#masthead {
	padding: 0 10px 1em;
}
#masthead .main-menu-more-toggle,
#masthead .site-description {
	display: none;
}
#masthead .site-branding {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
}
#masthead .site-logo {
	position: static;
	order: -2;
}
#masthead #site-navigation {
	flex-basis: 100%;
	font-size: 1.1em;
	margin: 0;
	padding-top: 0.7em;
}
#masthead .social-navigation {
	min-width: 120px;
	margin: 0;
	padding-top: 0.5em;
	order: -1;
}
@media (min-width: 680px) {
	#masthead .site-branding {
		flex-wrap: nowrap;
	}
	#masthead .site-logo,
	#masthead .social-navigation {
		order: 0;
	}
	#masthead .social-navigation {
		padding-top: 0.3em;
	}
}

#masthead .site-title {
	display: none;
}
#masthead .custom-logo-link {
	border-radius: 0;
	box-shadow: none;
	width: 104px;
	height: auto;
	transition: opacity 0.2s linear;
}
