#site-navigation > .menu-header-main-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
#site-navigation li,
#site-navigation a {
	font-weight: normal;
	color: inherit;
	vertical-align: top;
}
#site-navigation li:hover > a {
	color: #0073aa;
}

#site-navigation .sub-menu a,
#site-navigation .sub-menu {
	background-color: white;
	color: inherit;
}
#site-navigation .sub-menu a {
	padding: 0.3em 0.1em;
	margin-left: -0.1em;
}
/* first item */
#site-navigation .sub-menu li:nth-child(2) a {
	padding-top: 0.2em;
}
#site-navigation .submenu-expand svg {
	top: 0;
	bottom: 0.1em;
}

