.social-navigation canvas {
	display: block;
}
#site-navigation > .menu-header-main-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
#site-navigation li,
#site-navigation a {
	font-weight: normal;
	color: inherit;
	vertical-align: top;
}
#site-navigation li:hover > a {
	color: #0073aa;
}

#site-navigation .sub-menu a,
#site-navigation .sub-menu {
	background-color: white;
	color: inherit;
}
#site-navigation .sub-menu {
	margin-top: 0.5em;
}
#site-navigation .sub-menu a {
	padding: 0.3em 0.1em;
	margin-left: -0.1em;
}
/* first item */
#site-navigation .sub-menu li:nth-child(2) a {
	padding-top: 0.2em;
}
#site-navigation .menu-item > a + button svg {
	position: relative;
	top: 0.1em;
}
#desktop-menu-header-main {
	display: none;
}

/* mobile menu */
#menu-header-main,
#menu-header-main li:not(.mobile-parent-nav-menu-item) {
	display: block;
}
#menu-header-main li {
	margin: 0.5em auto;
}
#menu-header-main li:first-child {
	margin-top: 0;
}
#menu-header-main li:last-child {
	margin-bottom: 0;
}
#menu-header-main .sub-menu {
	position: static;
	opacity: 1;
	font-size: 0.8em;
}
#menu-header-main .sub-menu li {
	text-indent: 0.5em;
}
#menu-header-main .menu-item > a + button {
	display: none;
}

/* burger toggle */
body:not(.menu-visible) #menu-social-menu > li:not(#menu-item-burger) {
	opacity: 0;
}
body:not(.menu-visible) #site-navigation {
	display: none;
}
.menu-visible .social-navigation canvas {
	transform: scale(0.8);
}

@media (min-width: 680px) {
	#menu-header-main {
		display: none;
	}
	#desktop-menu-header-main {
		display: block;
	}
	#menu-social-menu > li {
		opacity: 1 !important;
	}
	#site-navigation {
		display: block !important;
	}
	#menu-social-menu > #menu-item-burger {
		display: none !important;
	}
	#menu-header-main .menu-item > a + button {
		display: inline-block;
		margin-right: 0.25rem;
	}
}
